body {
  padding: 5px;
  color: lime;
  background-image: url('../img/gif/bg.gif');
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}


.schedule {
  text-align: center;
}

.schedule > img {
  width: 300px;
}

.sponsors img {
  margin-bottom: 10px;
  background: #ffffff;
}

.announcements iframe {
  width: 100%;
  border-style: none;
}
